<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <meta name="viewport" content="width=1170px, initial-scale=0.1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.ico"/>
    <link rel="icon" href="/images/favicon.png" type="image/png"/>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || data.meta.website_title %></title>
    <meta name="description" content="<% data.meta.website_description %>" />
    <%= stylesheet_link_tag "site" %>

  </head>
  <body>
  <div class="l-wrapper <%= page_classes %>">
          <%= partial "/partial/nav" %>
        <div class="l-main">
          <%= yield %>
        </div> 
      <%= partial "/partial/footer" %>
  </div>    

  <%= javascript_include_tag "site" %>
  </body>
</html>
